body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #f0f0f0;
}

.chat-widget {
    width: 100%;
    max-width: 400px;
    height: 80vh;
    display: none; /* Oculto por padrão */
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
    bottom: 60px; /* Alinhamento acima do botão de chat */
    right: 20px;
    background: white;
    z-index: 1000;
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #e5ddd5;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
}

select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 70%;
    clear: both;
}

.user-message {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.bot-message {
    background-color: #fff;
    align-self: flex-start;
}

.chat-button {
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


