/* --------------------------- Estilos Básicos para a Página -------------------------------------- */

.indent {
    text-indent: 3em;
    display: inline-block;
}

/* Estilos básicos para o corpo do documento */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    min-height: 100vh;
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
}

/* Estilos para o cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em 1.25em; /* equivalente a 10px 20px */
    background-color: #f8f8f8;
    border-bottom: 0.0625em solid hwb(0 87% 13%);
    width: 100%;
    box-sizing: border-box;
}

.logo {
    height: 3.125em; /* equivalente a 50px */
}

.logo2 {
    height: 9.375em; /* equivalente a 150px */
}

/* Estilos para o conteúdo principal */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 100%;
    padding: 30px;
    margin-left: 20px;
}

.content p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #000000;
}

.content h1{
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #000000;
}

/* Estilos personalizados para o menu superior */
c-navigation a[slot="primary-items"] {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #6bbec5;
    text-decoration: none;
    padding: 0.625em 0.9375em; /* equivalente a 10px 15px */
    position: relative;
}

c-navigation a[slot="primary-items"]::after {
    content: '|';
    position: absolute;
    right: -0.25em; /* equivalente a -4px */
    color: hwb(0 87% 13%);
}

c-navigation a[slot="primary-items"]:last-child::after {
    content: '';
}

c-navigation a[slot="primary-items"]:hover {
    background-color: #9df1fc00;
    color: #000000;
}

c-navigation a[slot="primary-items"].active {
    background-color: #c0f3ff00;
    color: rgb(0, 0, 0);
}

/* Estilos para o rodapé */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #081529;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    /* position: fixed; */
    bottom: 0;
    height: 200px; /* Define a altura do rodapé */
    position: relative;
    background-color:#09162A;
    width: 100%; /* tamanho total no eixo x (largura)*/
}

.Footer_Adress{
  float: left;
  width: 25%;
  color: rgb(255, 255, 255); /* Cor do texto do item ativo */
  font-size: 12px;
  color: #808191;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.footer h1{
  font-size: 16px;
  color: #f04a1f;
}

.footer p, a{
  margin:0;
  color: #808191;
}

/* ------------------------------------------------------------------------------------------ */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Cabeçalho */
  .header2 {
    text-align: center;
    margin-top: 20px;;
    /* padding: 2rem 1rem; */
    /* background-color: #4CAF50;
    color: #fff; */
  }
  
  .header2 h1 {
    font-size: 1.5rem;
    /* margin-bottom: 0.5rem; */
  }
  
  .header2 p {
    font-size: 1.2rem;
    opacity: 0.9;
  }
  
  /* Container da equipe */
  .team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* Card de cada membro */
  .team-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .team-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .team-card h2 {
    font-size: 1.5rem;
    color: #19A39D;
    /* margin-bottom: 0.5rem; */
  }

  .team-card h3 {
    font-size: 0.8rem;
    color: #454b45;
    margin-bottom: 0.5rem;
    font-style: italic;
  }
  
  .team-card p {
    font-size: 1rem;
    color: #666;
    line-height: 1.4;
  }
  

  /* ----------------------------------------------------------- */

  .academy-section1{
    margin: 20px;
    padding: 5px;
    /* flex: 1; */
    width: 60%;
}

.academy-section2{
    margin: 20px;
    padding: 5px;
    /* flex: 1; */
    width: 40%;
    display: flex;
    justify-content: center;
    
}

.text_main{
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
    display: flex;
    width: 100%; 
    justify-content: space-between;
    /* flex-flow: row wrap; */
    background-color: #ffffff;
}

.DAn-image{
  width: 500px;
  /* display: flex;
  justify-content: space-between;
  flex-grow: 1; */
  margin: auto;
  display: block;
}

.academy-section1 p {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
  /* max-width: 900px; */
  margin: 0 auto 40px auto;
  text-align: justify;
  margin-left: 0;
  margin:20px

}

.academy-section1 li {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
  /* max-width: 800px; */
  margin: 0 auto 4px auto;
  text-align: justify;
  margin-left: 0;
}

.academy-section1 li {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
  /* max-width: 800px; */
  margin: 0 auto 4px auto;
  text-align: justify;
  margin-left: 70px;
}

.academy-section2 p {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
  /* max-width: 800px; */
  margin: 0 auto 40px auto;
  text-align: left;

}

/* ----------------------------------------------------------------------- */

/* Estilos adicionais para a seção Robot Training Academy */
.academy-header {
  background-color: #ffffff;
  padding: 40px;
  text-align: left;
  background-image: linear-gradient(rgba(255, 255, 255, 0.185),rgba(0, 0, 0, 0.082)),linear-gradient(rgba(244, 244, 244, 0.575),rgba(244, 244, 244, 0.897)),url(https://www.rel8ed.to/wp-content/uploads/2023/01/Lets-drive-your-business-to-success.-4-e1674873725281.png);
    background-size: auto,auto,cover;
  background-position: 20% 20%; 
  width: 100%;
  box-sizing: border-box;
  height: 200;

  text-shadow: 0px 5px 40px rgb(233, 133, 86);

  flex-direction: column; /* Importante para alinhar elementos corretamente */
  justify-content: space-between; /* Distribui espaço entre cabeçalho e rodapé */
  align-items: center; /* Centraliza na horizontal */
}

.academy-header h1 {
  color: #f04a1f;
  font-size: 36px;
  margin:0;
  padding:0;
}

.academy-header p {
  color: #000000;
  font-size: 18px;
  margin:0;
  padding:0;
}

.btn {
  background-color: #f04a1f;
  color: white;
  padding: 15px 30px;
  border: 1px solid #f05024;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;

  border-radius: 10px;
}

/* --------------------- Ajuste para dispositivos móveis ------------------------------------ */

/* Ajustar layout para dispositivos móveis */
@media (max-width: 768px) {
  /* Ajustar o cabeçalho */
  .header {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .header .logo {
      height: 2.5em; /* Reduzir o tamanho do logo */
  }

  /* Estilo para a navegação */
  .menu {
      margin-top: 1em;
  }

  /* Conteúdo principal */
  .content h1 {
    font-size: 24px; /* Reduzir o tamanho do título */
  }

  .content p {
    font-size: 16px; /* Reduzir o tamanho do texto */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
  }


  /* Ajustar o rodapé */
  .footer {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 20px;
  }

  .Footer_Adress {
    width: 100%; /* Ocupa 100% da largura */
    margin-bottom: 1em; /* Espaçamento entre as seções */
  }

  .text_main{
    display: block;
    margin: auto;
    width: 100%;
}

.academy-section2{
    visibility: hidden;
    height: 0;
}

.academy-section1{
   width: 80%;
}

}

/* Ajustes adicionais para telas muito pequenas */
@media (max-width: 480px) {
  .menu-item {
      width: 70%; /* Cada item ocupa a largura total */
      margin: auto;
  }

  .content h1 {
      font-size: 20px; /* Reduzir ainda mais para telas pequenas */
  }

  .content p {
      font-size: 14px;
  }
}
