/* --------------------------- Estilos Básicos para a Página -------------------------------------- */

.indent {
    text-indent: 50px;
    display: inline-block;
}

/* Estilos básicos para o corpo do documento */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Importante para alinhar elementos corretamente */
    justify-content: space-between; /* Distribui espaço entre cabeçalho e rodapé */
    align-items: center; /* Centraliza na horizontal */
    background-color: #f0f0f0;
    min-height: 100vh; /* Garante altura mínima de 100% da viewport */
    /* padding-bottom: 100px; /* Espaço para o mini bot quando visível */
    flex-grow: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
    /* flex-wrap: wrap; Permite ajuste ao aumentar o zoom */
}

/* Estilos para o cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid hwb(0 87% 13%);
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilos para o logo da empresa */
.logo {
    height: 50px;
}

.logo2{
    height: 150px; 
}

/* Estilos para o conteúdo principal */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Adicione esta linha para centralizar o texto */
    width: 100%;
    min-height: 400px; /* Ajuste conforme necessário */
    flex-grow: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
    
}

/* Se o texto estiver em um elemento específico dentro de .content */
.content h1, .content p { /* Ajuste conforme o tipo de elemento */
    margin: 0;
    padding: 0;
}

/* Estilos personalizados para o menu superior */
c-navigation a[slot="primary-items"] {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #6bbec5; /* Cor do texto */
    text-decoration: none;
    padding: 10px 15px;
    position: relative; /* Necessário para as pseudo-classes */
}

c-navigation a[slot="primary-items"]::after {
    content: '|';
    position: absolute;
    right: -4px; /* Ajuste conforme necessário */
    color: hwb(0 87% 13%); /* Cor da barra */
}

c-navigation a[slot="primary-items"]:last-child::after {
    content: ''; /* Remove a barra do último item */
}

c-navigation a[slot="primary-items"]:hover {
    background-color: #9df1fc00; /* Cor de fundo ao passar o mouse */
    color: #000000; /* Cor do texto ao passar o mouse */
}

c-navigation a[slot="primary-items"].active {
    background-color: #c0f3ff00; /* Cor de fundo do item ativo */
    color: rgb(0, 0, 0); /* Cor do texto do item ativo */
}

/* Estilos para o rodapé */
.footer {
    padding: 20px !important;
    text-align: center;
    background-color: #081529;
    border-top: 1px solid #ddd;
    box-sizing: border-box !important;
    /* position: fixed; */
    bottom: 0 !important;
    height: 200px !important; /* Define a altura do rodapé */
    position: relative;
    bottom: 0;
    background-color:#09162A;
    width: 100%; /* tamanho total no eixo x (largura)*/
}

.Footer_Adress{
    float: left;
    width: 25%;
    color: rgb(255, 255, 255); /* Cor do texto do item ativo */
    font-size: 12px;
    color: #808191;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer h1{
    font-size: 16px;
    color: #f04a1f;
  }
  
  .footer p, a{
    margin:0;
    color: #808191;
  }


/* ------------------------------------------------------------------------------------------ */


/* styles.css */

.text p{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}

header {
    background-color: #f27611a9;
    /* background-color: #F2C811; */
    color: #000000;
    padding: 5px;
    text-align: left;
}

header h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: left;
    padding-left: 20px;
}

main {
    padding: 00px;
    text-align: left;
    flex-grow: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
    width: 100%;
}

/* -------------------------------------------------------------- */

.test-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}
.container {
    display: flex;
    justify-content: space-between; /* Espaça as colunas */
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 20px;
    flex-grow: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
    
}

.column {
    flex: 1; /* Faz com que cada coluna ocupe a mesma largura */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.test-section h2 {
    color: #333;
    margin-bottom: 0px !important;
    font-size: 1em;
    
    margin-top: 0 !important;
}

.test-section p {
    margin-bottom: 10px;
}

.test-section ul {
    list-style-type: disc;
    margin-left: 20px;
}