/* --------------------------- Estilos Básicos para a Página -------------------------------------- */

.indent {
    text-indent: 50px;
    display: inline-block;
}

/* Estilos básicos para o corpo do documento */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Importante para alinhar elementos corretamente */
    justify-content: space-between; /* Distribui espaço entre cabeçalho e rodapé */
    align-items: center; /* Centraliza na horizontal */
    background-color: #f0f0f0;
    min-height: 100vh; /* Garante altura mínima de 100% da viewport */
    /* padding-bottom: 100px; /* Espaço para o mini bot quando visível */
    flex-grow: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
    /* flex-wrap: wrap; Permite ajuste ao aumentar o zoom */
}

/* Estilos para o cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid hwb(0 87% 13%);
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilos para o logo da empresa */
.logo {
    height: 50px;
}

.logo2{
    height: 150px; 
}

/* Estilos para o conteúdo principal */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Adicione esta linha para centralizar o texto */
    width: 100%;
    min-height: 400px; /* Ajuste conforme necessário */
    flex-grow: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
    
}

/* Se o texto estiver em um elemento específico dentro de .content */
.content h1, .content p { /* Ajuste conforme o tipo de elemento */
    margin: 0;
    padding: 0;
}

/* Estilos personalizados para o menu superior */
c-navigation a[slot="primary-items"] {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #6bbec5; /* Cor do texto */
    text-decoration: none;
    padding: 10px 15px;
    position: relative; /* Necessário para as pseudo-classes */
}

c-navigation a[slot="primary-items"]::after {
    content: '|';
    position: absolute;
    right: -4px; /* Ajuste conforme necessário */
    color: hwb(0 87% 13%); /* Cor da barra */
}

c-navigation a[slot="primary-items"]:last-child::after {
    content: ''; /* Remove a barra do último item */
}

c-navigation a[slot="primary-items"]:hover {
    background-color: #9df1fc00; /* Cor de fundo ao passar o mouse */
    color: #000000; /* Cor do texto ao passar o mouse */
}

c-navigation a[slot="primary-items"].active {
    background-color: #c0f3ff00; /* Cor de fundo do item ativo */
    color: rgb(0, 0, 0); /* Cor do texto do item ativo */
}

/* Estilos para o rodapé */
.footer {
    padding: 20px !important;
    text-align: center;
    background-color: #081529;
    border-top: 1px solid #ddd;
    box-sizing: border-box !important;
    /* position: fixed; */
    bottom: 0 !important;
    height: 200px !important; /* Define a altura do rodapé */
    position: relative;
    bottom: 0;
    background-color:#09162A;
    width: 100%; /* tamanho total no eixo x (largura)*/
}

.Footer_Adress{
    float: left;
    width: 25%;
    color: rgb(255, 255, 255); /* Cor do texto do item ativo */
    font-size: 12px;
}


/* ------------------------------------------------------------------------------------------ */


/* styles.css */

.text p{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}


body {
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #f2c911a9;
    /* background-color: #F2C811; */
    color: #000000;
    padding: 5px;
    text-align: left;
}

header h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: left;
    padding-left: 20px;
}

main {
    /* padding: 20px; */
    text-align: left;
    flex-grow: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
}

/* ----------------------- Estilo para a seção cursos PowerBI: tópicos lado a lado ----------------------- */
.test-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}
.container {
    display: flex;
    justify-content: space-between; /* Espaça as colunas */
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 20px;
    flex-grow: 1; /* Expande o conteúdo principal para ocupar o espaço disponível */
    
}

.column {
    flex: 1; /* Faz com que cada coluna ocupe a mesma largura */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.test-section h2 {
    color: #333;
    margin-bottom: 0px !important;
    font-size: 1em;
    
    margin-top: 0 !important;
}

.test-section p {
    margin-bottom: 10px;
}

.test-section ul {
    list-style-type: disc;
    margin-left: 20px;
}


/* ----------------------- Estilo para a seção FAQ: tópicos lado a lado ----------------------- */
.test-section2 {
    display: inline-block;
    /* width: 23.2%; Ajuste para exibir dois itens por linha */
    flex: 1 1 22%; /* Garante que cada caixa ocupe 45% da largura e estique para o mesmo tamanho */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; /* padding para o texto dentro do bloco branco */
    margin: 10px;
    vertical-align: top;
    /* height: 300px; Defina uma altura fixa que seja adequada */
    box-sizing: border-box; /* Para garantir que padding não aumente a altura */
}

.test-section2 h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1em;
    margin-top: 0 !important;
}

.test-section2 p {
    margin-bottom: 10px;
    text-align: justify;
}

.test-section2 ul {
    list-style-type: disc;
    margin-left: 20px;
    text-align: justify;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre as caixas */
    justify-content: space-between;
    padding: 20px;
}

/* ----------------------- Estilo para a seção PBI: tópicos empilhados ----------------------- */
.PBI-container {
    display: flex;
    justify-content: space-between; /* Espaça as colunas */
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 0px;
}


.column {
    flex: 1; /* Faz com que cada coluna ocupe a mesma largura */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.test-section3 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.test-section3 h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1em;
    margin-top: 0 !important;
}

.test-section3 p {
    margin-bottom: 10px;
    text-align: justify;
}

.test-section3 ul {
    list-style-type: disc;
    margin-left: 20px;
    text-align: justify;
}

/* --------------------------------------------------------------------------- */

.PBI-1-1-image{
    width: 500px;
}

.PBI-1 {
    margin: 10px; /* Reduzido para evitar quebra de linha */
    padding: 5px;
    width: 30%; /* Já está adequado para três elementos lado a lado */
    box-sizing: border-box; /* Inclui padding e border na largura */
    text-align: center;
}

.PBI-2 {
    margin: 10px; /* Reduzido para evitar quebra de linha */
    padding: 5px;
    width: 45%; /* Já está adequado para três elementos lado a lado */
    box-sizing: border-box; /* Inclui padding e border na largura */
    text-align: center;
}

.PBI-1 p{
    text-align: center;
}

.PBI-2 p{
    text-align: center;
}

.PBI-general {
    padding: 10px;
    display: flex;
    /* Remova o justify-content para evitar que os elementos se separem demais */
    justify-content: space-between; /* Espaça as colunas */
    gap: 20px; /* Espaçamento entre as colunas */
}

/* ------------------------------------------------------------------------------------------ */

/* Estilo do modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Fundo escuro semi-transparente */
    overflow: hidden; /* Evita rolagem enquanto o modal está aberto */
}

/* Imagem dentro do modal */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    max-width: 90%; /* Limita o tamanho máximo ao da largura da janela */
    max-height: 90%; /* Limita o tamanho máximo ao da altura da janela */
    width: auto;
    height: auto;
}

/* Botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/* Texto opcional abaixo da imagem */
#caption {
    margin: auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor leitura */
    border-radius: 5px;
}
