/* --------------------------- Estilos Básicos para a Página -------------------------------------- */

.indent {
    text-indent: 50px;
    display: inline-block;
  }

/* Estilos básicos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Importante para alinhar elementos corretamente */
    justify-content: space-between; /* Distribui espaço entre cabeçalho e rodapé */
    align-items: center; /* Centraliza na horizontal */
    background-color: #f0f0f0;
    min-height: 100vh; /* Garante altura mínima de 100% da viewport */
    /* padding-bottom: 100px; /* Espaço para o mini bot quando visível */
}

/* Estilos para o cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid hwb(0 87% 13%);
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilos para o logo da empresa */
.logo {
    height: 50px;
}

.logo2{
    height: 150px; 
}

/* Estilos personalizados para o menu superior */
c-navigation a[slot="primary-items"] {
    font-family: 'Arial';
    font-size: 16px;
    color: #6bbec5; /* Cor do texto */
    text-decoration: none;
    padding: 10px 15px;
    position: relative; /* Necessário para as pseudo-classes */
}

c-navigation a[slot="primary-items"]::after {
    content: '|';
    position: absolute;
    right: -4px; /* Ajuste conforme necessário */
    color: hwb(0 87% 13%); /* Cor da barra */
}

c-navigation a[slot="primary-items"]:last-child::after {
    content: ''; /* Remove a barra do último item */
}

c-navigation a[slot="primary-items"]:hover {
    background-color: #9df1fc00; /* Cor de fundo ao passar o mouse */
    color: #000000; /* Cor do texto ao passar o mouse */
}

c-navigation a[slot="primary-items"].active {
    background-color: #c0f3ff00; /* Cor de fundo do item ativo */
    color: rgb(0, 0, 0); /* Cor do texto do item ativo */
}

/* Estilos para o rodapé */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #081529;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    /* position: fixed; */
    bottom: 0;
    height: 200px; /* Define a altura do rodapé */
    position: relative;
    bottom: 0;
    background-color:#09162A;
    width: 100%; /* tamanho total no eixo x (largura)*/
}

.Footer_Adress{
    float: left;
    width: 25%;
    color: rgb(255, 255, 255); /* Cor do texto do item ativo */
    font-size: 12px;
}

/* ------------------------------------------------------------------------------------------ */

/* Estiliza o contêiner principal */
.container {
    width: 80%; /* Define a largura do contêiner */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    text-align: center; /* Centraliza o texto */
}

/* Estiliza o título */
h1 {
    margin-bottom: 20px; /* Define a margem inferior */
    padding-left: 10px; /* Define o preenchimento à esquerda */
    font-size: 20px;
}

/* Estiliza a tabela */
table {
    width: 90%; /* Define a largura da tabela */
    border-collapse: collapse; /* Remove o espaçamento entre as células */
    background-color: #ffffff; /* Define a cor de fundo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao redor da tabela */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    border-radius: 10px;
    overflow: hidden;
}

/* Estiliza as células do cabeçalho e do corpo */
th, td {
    padding: 10px; /* Define o tamanho do preenchimento */
    text-align: center; /* Centraliza o texto nas células */
    border: 1px solid #dddddd; /* Adiciona uma borda às células */
}

/* Estiliza as células do cabeçalho */
th {
    background-color: #ef7015; /* Define a cor de fundo do cabeçalho */
    color: white; /* Define a cor do texto do cabeçalho */
}

/* Estiliza as células do corpo */
td {
    background-color: #f9f9f9; /* Define a cor de fundo das células */
}

/* Estiliza as células das linhas pares do corpo */
tr:nth-child(even) td {
    background-color: #f2f2f2; /* Define a cor de fundo das células das linhas pares */
}

/* Estiliza as células vazias */
td:empty {
    background-color: #ffffff; /* Define a cor de fundo das células vazias */
}

/* Estiliza as células quando o mouse passa sobre elas */
/* td:hover {
    background-color: #e2e2e2; /* Define a cor de fundo quando o mouse passa sobre as células */
/* } */



/* Estiliza a nova div com textos */
.info-lectures {
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    /*background-color: #ffffff;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 10px;*/
}

.info-lectures h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-lectures p {
    font-size: 16px;
    margin-bottom: 10px;
}



/* Estiliza o contêiner principal da tabela de palestras */
.container-lecture {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Estiliza o título da tabela de palestras */
.container-lecture h1 {
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 24px;
}

/* Estiliza a tabela de palestras */
.table-lecture {
    width: 90%;
    border-collapse: separate;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

/* Estiliza as células do cabeçalho e do corpo da tabela de palestras */
.table-lecture th, .table-lecture td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

/* Estiliza as células do cabeçalho da tabela de palestras */
.table-lecture th {
    background-color: #38cfcf;
    color: white;
    font-weight: bold;
}

/* Estiliza as células do corpo da tabela de palestras */
.table-lecture td {
    background-color: #f9f9f9;
}

/* Estiliza as células das linhas pares do corpo da tabela de palestras */
.table-lecture tr:nth-child(even) td {
    background-color: #f2f2f2;
}

/* Estiliza as células vazias da tabela de palestras */
.table-lecture td:empty {
    background-color: #ffffff;
}

/* Estiliza as células quando o mouse passa sobre elas na tabela de palestras */
/*.table-lecture td:hover {
    background-color: #ddd;
}*/



/* Opções de Excel */
.excel-options {
    text-align: center;
    margin: 20px 0;
}

.excel-options button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.excel-options button:hover {
    background-color: #45a049;
}

.excel-options input[type="file"],
.excel-options input[type="password"] {
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}